.footer {
    background-color: black;
    display: inline-block;
    width: 94.3%;
    height: 280px;
    width: 10px 20px 10px 10px;
    margin: 19px 25px 8px 38px;
}

.footer .footer_logo {
    margin: 75px 20px 15px 18px;
    float: left;
    width: 15%;

}

.footer .about {
    width: 35%;
    margin: 50px 20px 12px 18px;
    float: left;
    color: white;

}

.footer .about p {
    font-size: 15px;

}

.footer .navigation {
    width: 220px;
    padding: 0px 0px 16px 0px;
    float: right;
}

.footer .navigation ul li {
    list-style: none;
    padding: 5px;
}

.footer .navigation ul {
    color: white;
    text-decoration: none;
}

.footer .navigation ul h2 {
    font-size: 20px;
}

.footer .navigation li a {
    color: white;
    text-decoration: none;
}

.footer .navigation li a:hover{
    text-decoration: underline;
    color: orange;
}

.footer .rigth_footer {
    margin: 40px;
    padding: 10px;
}

.footer .copyright {
    display: inline-block;
    background-color: grey;
    height: 50px;
    width: 100%;

}

.footer .copyright p {
    font-size: 15px;
    margin: 15px;
}