.product {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.product .container {
    margin: 30px;
    width: 450px;
    height: 350px;
    background-color: white;
    border: 2.5px solid black;
    border-radius: 6px;
}


.product .container .items {
    margin: 7px;
    width: 200px;
    height: 334px;
    background-color: white;
    width: 96%;
}

.product .container .items .name {
    text-align: center;
    background-color: rgb(240, 197, 6);
    height: 25px;
    padding-top: 4px;
    color: white;
    margin: 0;
}

.product .container .items .price {
    float: left;
    padding-left: 10px;
    display: block;
    width: 100%;
    color: rgb(255, 0, 0);
    font-weight: 650;
}

.product .container .items .info {
    padding-left: 10px;
    color: rgb(243, 168, 7);
}

.product .container .items .img img {
    width: 450px;
    height: 260px;
    margin: 0;
    padding: 0;
    border-radius: 12px;
    transition-duration: 0.8s;
}

.product .container .items .img {
    overflow: hidden;
    margin: 0;
}

.product .container .items:hover .img img {
    transform: scale(1.2);
    transition-duration: 0.8s;
    border-radius: 12px;
}